<router-outlet></router-outlet>
<div>
    <h5 class="font-weight-bold"> Curso - Incluir</h5>
</div>
<div>
    <label> Nome:</label>
    <input class="form-control my-3" type="text" placeholder="">
</div>
<div>
    <label> Instrutor:</label>
    <input class="form-control my-3" type="text" placeholder="">
</div>
<div>
    <label>Local:</label>
    <input class="form-control my-3" type="text" placeholder="">
</div>
<div class="row">
    <div class="col">
        <label>Carga horária:</label>
        <input class="form-control my-3" type="number" placeholder="Digite sua carga horária">
    </div>
    <div class="col">
        <label>Data início:</label>
        <input class="form-control my-3" type="date">
    </div>
    <div>
        <a class="btn btn-primary" href="#" role="button" (click)="BotaoCursoIncluir()"> Incluir </a>
        <a class="btn btn-primary mx-2" href="#" role="button" routerLink="/"> Voltar </a>
    </div>
</div>