<router-outlet></router-outlet>
<div>
    <h5 class="font-weight-bold"> Aluno - Incluir</h5>
</div>
<div class="row">
    <div class="col">
        <label>Nome:</label>
        <input class="form-control my-3" type="text" placeholder="Digite seu nome...">
    </div>
    <div class="col">
        <label>Data de Nascimento:</label>
        <input class="form-control my-3" type="date">
    </div>
    <div>
        <a class="btn btn-primary" href="#" role="button" (click)="BotaoAlunoIncluir()"> Incluir </a>
        <a class="btn btn-primary mx-2" href="#" role="button" routerLink="/aluno"> Voltar </a>
    </div>
</div>
