<router-outlet></router-outlet>
<div>
    <h5 class="font-weight-bold"> Matrícula - Incluir</h5>
</div>
<div>
    <label class="my-3">Aluno:</label>
    <input class="form-control my-3" type="text" placeholder="Pesquisar...">
</div>
<div class="container border p-3">
    <div>
        <h5 class="font-weight-bold"> Aluno - Incluir</h5>
    </div>
    <div class="row">
        <div class="col">
            <label>Curso:</label>
            <select class="form-control my-3">
                <option> Selecione o curso </option>
            </select>
        </div>
        <div class="col">
            <label>Data Matrícula:</label>
            <input class="form-control my-3" type="date">
        </div>
        <div>
            <a class="btn btn-primary" href="#" role="button"> Adicionar </a>
        </div>
    </div>

</div>
